/*ul {
  margin: 0;
  padding: 0;
}*/

.header-panel {
  /*background-color: red;*/
  color: blue;
  width: 100%;
  height: auto;
  float: top;
}

.working-panel {
  /*background-color: yellow;*/
  display: inline-block;
  width: 100%;
  height: 100%;
  float: bottom;
}

.navigation-panel {
  /*background-color: green;*/
  width: auto;
  height: 100%;
  float: left;
}

.navigation-panel ul {
  margin: 0;
  padding: 0;
}

.navigation-panel li {
  margin: 10px;
  list-style-type: none;
}

.elements-panel {
  /*background-color: aqua;*/
  width: auto;
  height: 100%;
  float: left;
}

li a:hover {
  color: darkblue;
  text-decoration: underline;
  /*font-weight: bold;*/
}
