<h2>
  {{title}}
</h2>

<subject-list
  [subjectItems]="subjectItems"
  [multiSelectionMode]="false"
  (notifyOnSelect)="onNotify($event)">
</subject-list>
<p> - click on item to select/de-select it</p>

<input #newSubjectInput type="text" placeholder="new subject">
<button (click)="addSubject(newSubjectInput.value); newSubjectInput.value = ''">add</button>
<br><br>
<input #editSubjectInput type="text"
       [disabled]="selectedIndexes.length != 1"
       [value]="(selectedIndexes.length != 0) ? subjectItems[selectedIndexes[0]].subject.subjectName: ''">
<button (click)="editSubjectByIndex(selectedIndexes[0], editSubjectInput.value)"
        [disabled]="selectedIndexes.length != 1">edit
</button>

<button (click)="deleteSubjectByIndex(selectedIndexes[0])"
        [disabled]="selectedIndexes.length != 1">delete
</button>
